<!DOCTYPE html>
<html>
<head>
  <title>Peep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice.present? || flash.present? %>
    <p class="notice"><%= notice %></p>
    <div id="error_explanation">
      <span class=""><%= alert %></div>
  <% end %>

<%= yield %>

</body>
</html>
